PORT=5001
MONGODB_URI=mongodb+srv://rashedulafl_db_user:QmiCECZ0cvGPZZgf@mailstora.vuxu5jk.mongodb.net/mailsota?retryWrites=true&w=majority&appName=Mailstora
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=mailstora
IMGBB_API_KEY=246ca89105e41c3e28b990d967fa4ecf
EMAIL_USER=rashedul.afl@gmail.com
EMAIL_PASS="xpoi tfyf sdub zftv"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
NEXT_PUBLIC_API_URL=https://mailstora.maxapi.esp32.site
MASTER_OTP=333333
FRONTEND_URL=https://mailstora.com
