# ──────────────────────────────────────────────────────────────
# SERVER ENVIRONMENT VARIABLES
# ──────────────────────────────────────────────────────────────
PORT=5001
MONGODB_URI=YOUR_MONGODB_URI
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=mailstora
IMGBB_API_KEY=YOUR_IMGBB_API_KEY
EMAIL_USER=YOUR_EMAIL_USER
EMAIL_PASS="YOUR_EMAIL_PASS"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
MASTER_OTP=333333

# ──────────────────────────────────────────────────────────────
# CLIENT ENVIRONMENT VARIABLES
# ──────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=https://mailstora.maxapi.esp32.site

# ──────────────────────────────────────────────────────────────
# CORS & PRODUCTION URLS
# ──────────────────────────────────────────────────────────────
FRONTEND_URL=https://mailstora.com